## Data Preprocessing and Model Training

| Column Name                       | Data Type (Pandas) | Feature Type                    | Description                                           |
| --------------------------------- | ------------------ | ------------------------------- | ----------------------------------------------------- |
| **Unnamed: 0**                    | `int64`            | Index / Identifier              | Auto-generated index column (not useful for modeling) |
| **Area**                          | `object`           | Categorical (Nominal)           | Country or region name                                |
| **Item**                          | `object`           | Categorical (Nominal)           | Crop type (e.g., Maize, Rice, Potatoes)               |
| **Year**                          | `int64`            | Numerical (Temporal)            | Year of observation                                   |
| **hg/ha_yield**                   | `int64`            | Numerical (Target / Continuous) | Crop yield in hectograms per hectare                  |
| **average_rain_fall_mm_per_year** | `float64`          | Numerical (Continuous)          | Annual rainfall in mm                                 |
| **pesticides_tonnes**             | `float64`          | Numerical (Continuous)          | Amount of pesticides used (tonnes)                    |
| **avg_temp**                      | `float64`          | Numerical (Continuous)          | Average yearly temperature (°C)                       |

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

In [ ]:
df = pd.read_csv('yield.csv')
df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [21]:
# Drop Unecessary features
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [22]:
# Item
df['Item'].unique()

array(['Maize', 'Potatoes', 'Rice, paddy', 'Sorghum', 'Soybeans', 'Wheat',
       'Cassava', 'Sweet potatoes', 'Plantains and others', 'Yams'],
      dtype=object)

In [25]:
# Encode Item feature
onehot_encoder= OneHotEncoder()
Item_encoder = onehot_encoder.fit_transform(df[['Item']]).toarray()
Item_encoder

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [26]:
onehot_encoder.get_feature_names_out(['Item'])

array(['Item_Cassava', 'Item_Maize', 'Item_Plantains and others',
       'Item_Potatoes', 'Item_Rice, paddy', 'Item_Sorghum',
       'Item_Soybeans', 'Item_Sweet potatoes', 'Item_Wheat', 'Item_Yams'],
      dtype=object)

In [27]:
Item_encoded_df=pd.DataFrame(Item_encoder,columns=onehot_encoder.get_feature_names_out(['Item']))
Item_encoded_df

,Item_Cassava,Item_Maize,Item_Plantains and others,Item_Potatoes,"Item_Rice, paddy",Item_Sorghum,Item_Soybeans,Item_Sweet potatoes,Item_Wheat,Item_Yams
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
28237,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28238,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28239,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [28]:
## Combine one hot encoder columns with the original data
df=pd.concat([df.drop('Item',axis=1),Item_encoded_df],axis=1)
df.head()

,Area,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Item_Cassava,Item_Maize,Item_Plantains and others,Item_Potatoes,"Item_Rice, paddy",Item_Sorghum,Item_Soybeans,Item_Sweet potatoes,Item_Wheat,Item_Yams
0,Albania,1990,36613,1485.0,121.0,16.37,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Albania,1990,66667,1485.0,121.0,16.37,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Albania,1990,23333,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Albania,1990,12500,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Albania,1990,7000,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [29]:
import pickle
with open('artifacts/onehot_encoder.pkl','wb') as file:
    pickle.dump(onehot_encoder,file)

In [30]:
data = df

In [31]:
## DiVide the dataset into indepent and dependent features
X=data.drop('hg/ha_yield',axis=1)
y=data['hg/ha_yield']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [32]:
# Area
df['Area'].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada',
       'Central African Republic', 'Chile', 'Colombia', 'Croatia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Finland', 'France', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Italy',
       'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Latvia', 'Lebanon',
       'Lesotho', 'Libya', 'Lithuania', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Mauritania', 'Mauritius', 'Mexico',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Norway',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Poland', 'Portugal',
       'Qatar', 'Romania', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand',
       'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom',
       'Uruguay', 'Zambia', 'Zimbabwe'], dtype=object)

In [33]:
# Encode Area
from category_encoders import TargetEncoder

te = TargetEncoder(
    
    cols=["Area"],        # high-cardinality feature
    smoothing=5           # reduces overfitting
)

In [34]:
# Fit on training data and transform test data only
X_train["Area_te"] = te.fit_transform(X_train["Area"], y_train)
X_test["Area_te"] = te.transform(X_test["Area"])

In [35]:
X_train.drop(columns=["Area"], inplace=True)
X_test.drop(columns=["Area"], inplace=True)

In [36]:
import pickle
with open('artifacts/Age_encoder.pkl','wb') as file:
    pickle.dump(te,file)

In [37]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [38]:
X_train

array([[ 0.48627038,  0.65035243, -0.60473529, ..., -0.39886202,
        -0.17748953, -0.90289466],
       [-1.3559997 , -0.08628166,  0.56035507, ..., -0.39886202,
        -0.17748953,  0.13530864],
       [-0.64743428,  0.20922031, -0.61048069, ..., -0.39886202,
        -0.17748953, -0.45801658],
       ...,
       [-1.49771279, -0.86250453, -0.32102235, ..., -0.39886202,
        -0.17748953,  1.0172578 ],
       [-0.78914737, -0.44116679,  0.62407403, ..., -0.39886202,
        -0.17748953,  0.70973766],
       [-0.36400812, -0.41006132, -0.36190627, ..., -0.39886202,
        -0.17748953,  0.40897712]])

In [39]:
with open('artifacts/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Training

Parameters:
1) Sequence NEtwork
2) Dense Layer
3) Activation Function
4) Optimizer -> Backpropogation
5) Loss Function
6) Metrics -> Performance Evaluation

Steps: 
Training -> Logs -> Folder -> Tensorboard -> Visualization

In [40]:
# Input is in the form X = [x1, x2, x3, ..., x10]
(X_train.shape[1],)

(15,)

In [41]:
## Build ANN model

import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [42]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1024

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3137 (12.25 KB)
Trainable params: 3137 (12.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [44]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)

In [45]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,   # By default batch size is set to 32 by Keras
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

707/707 [==============================] - 4s 4ms/step - loss: 75540.3984 - mae: 75540.3984 - val_loss: 71135.6797 - val_mae: 71135.6797
Epoch 2/100
707/707 [==============================] - 2s 3ms/step - loss: 61548.9023 - mae: 61548.9023 - val_loss: 52276.9297 - val_mae: 52276.9297
Epoch 3/100
707/707 [==============================] - 3s 4ms/step - loss: 43831.1445 - mae: 43831.1445 - val_loss: 35685.4258 - val_mae: 35685.4258
Epoch 4/100
707/707 [==============================] - 2s 3ms/step - loss: 30103.4688 - mae: 30103.4688 - val_loss: 26324.8594 - val_mae: 26324.8594
Epoch 5/100
707/707 [==============================] - 2s 3ms/step - loss: 25277.2266 - mae: 25277.2266 - val_loss: 24611.3477 - val_mae: 24611.3477
Epoch 6/100
707/707 [==============================] - 2s 3ms/step - loss: 24287.0703 - mae: 24287.0703 - val_loss: 23976.4238 - val_mae: 23976.4238
Epoch 7/100
707/707 [==============================] - 2s 3ms/step - loss: 23746.9883 - mae: 23746.9883 - val_loss: 23494.7480 - val_mae: 23494.7480
Epoch 8/100
707/707 [==============================] - 2s 4ms/step - loss: 23308.7051 - mae: 23308.7051 - val_loss: 23082.6816 - val_mae: 23082.6816
Epoch 9/100
707/707 [==============================] - 2s 3ms/step - loss: 22932.2949 - mae: 22932.2949 - val_loss: 22724.3652 - val_mae: 22724.3652
Epoch 10/100
707/707 [==============================] - 2s 3ms/step - loss: 22604.5625 - mae: 22604.5625 - val_loss: 22423.4961 - val_mae: 22423.4961
Epoch 11/100
707/707 [==============================] - 2s 3ms/step - loss: 22303.5566 - mae: 22303.5566 - val_loss: 22123.0527 - val_mae: 22123.0527
Epoch 12/100
707/707 [==============================] - 2s 3ms/step - loss: 22032.5059 - mae: 22032.5059 - val_loss: 21874.2441 - val_mae: 21874.2441
Epoch 13/100
707/707 [==============================] - 2s 3ms/step - loss: 21791.7949 - mae: 21791.7949 - val_loss: 21666.5840 - val_mae: 21666.5840
Epoch 14/100
707/707 [==============================] - 2s 3ms/step - loss: 21575.6621 - mae: 21575.6621 - val_loss: 21465.0273 - val_mae: 21465.0273
Epoch 15/100
707/707 [==============================] - 2s 3ms/step - loss: 21368.4629 - mae: 21368.4629 - val_loss: 21274.7578 - val_mae: 21274.7578
Epoch 16/100
707/707 [==============================] - 3s 4ms/step - loss: 21184.5293 - mae: 21184.5293 - val_loss: 21122.6777 - val_mae: 21122.6777
Epoch 17/100
707/707 [==============================] - 3s 4ms/step - loss: 21005.7168 - mae: 21005.7168 - val_loss: 20956.4277 - val_mae: 20956.4277
Epoch 18/100
707/707 [==============================] - 5s 7ms/step - loss: 20835.2441 - mae: 20835.2441 - val_loss: 20834.8789 - val_mae: 20834.8789
Epoch 19/100
707/707 [==============================] - 4s 6ms/step - loss: 20689.5625 - mae: 20689.5625 - val_loss: 20692.8027 - val_mae: 20692.8027
Epoch 20/100
707/707 [==============================] - 3s 4ms/step - loss: 20546.9922 - mae: 20546.9922 - val_loss: 20572.2949 - val_mae: 20572.2949
Epoch 21/100
707/707 [==============================] - 2s 3ms/step - loss: 20421.1016 - mae: 20421.1016 - val_loss: 20448.9355 - val_mae: 20448.9355
Epoch 22/100
707/707 [==============================] - 2s 3ms/step - loss: 20293.5762 - mae: 20293.5762 - val_loss: 20339.8379 - val_mae: 20339.8379
Epoch 23/100
707/707 [==============================] - 2s 3ms/step - loss: 20176.4961 - mae: 20176.4961 - val_loss: 20260.5586 - val_mae: 20260.5586
Epoch 24/100
707/707 [==============================] - 2s 3ms/step - loss: 20067.1172 - mae: 20067.1172 - val_loss: 20143.4277 - val_mae: 20143.4277
Epoch 25/100
707/707 [==============================] - 2s 3ms/step - loss: 19962.2734 - mae: 19962.2734 - val_loss: 20059.3047 - val_mae: 20059.3047
Epoch 26/100
707/707 [==============================] - 2s 3ms/step - loss: 19858.9688 - mae: 19858.9688 - val_loss: 19952.3242 - val_mae: 19952.3242
Epoch 27/100
707/707 [==============================] - 2s 3ms/step - loss: 19758.2305 - mae: 19758.2305 - val_loss: 19865.7559 - val_mae: 19865.7559
Epoch 28/100
707/707 [==============================] - 3s 4ms/step - loss: 19669.3965 - mae: 19669.3965 - val_loss: 19779.9668 - val_mae: 19779.9668
Epoch 29/100
707/707 [==============================] - 3s 4ms/step - loss: 19574.6738 - mae: 19574.6738 - val_loss: 19688.3691 - val_mae: 19688.3691
Epoch 30/100
707/707 [==============================] - 3s 4ms/step - loss: 19494.2246 - mae: 19494.2246 - val_loss: 19619.4395 - val_mae: 19619.4395
Epoch 31/100
707/707 [==============================] - 3s 4ms/step - loss: 19408.6719 - mae: 19408.6719 - val_loss: 19546.1602 - val_mae: 19546.1602
Epoch 32/100
707/707 [==============================] - 3s 4ms/step - loss: 19331.0410 - mae: 19331.0410 - val_loss: 19469.1055 - val_mae: 19469.1055
Epoch 33/100
707/707 [==============================] - 3s 4ms/step - loss: 19248.0059 - mae: 19248.0059 - val_loss: 19387.6074 - val_mae: 19387.6074
Epoch 34/100
707/707 [==============================] - 3s 4ms/step - loss: 19178.5234 - mae: 19178.5234 - val_loss: 19326.9922 - val_mae: 19326.9922
Epoch 35/100
707/707 [==============================] - 2s 3ms/step - loss: 19103.4492 - mae: 19103.4492 - val_loss: 19257.4766 - val_mae: 19257.4766
Epoch 36/100
707/707 [==============================] - 2s 3ms/step - loss: 19027.3965 - mae: 19027.3965 - val_loss: 19225.5234 - val_mae: 19225.5234
Epoch 37/100
707/707 [==============================] - 2s 3ms/step - loss: 18960.5156 - mae: 18960.5156 - val_loss: 19122.2129 - val_mae: 19122.2129
Epoch 38/100
707/707 [==============================] - 2s 3ms/step - loss: 18899.7793 - mae: 18899.7793 - val_loss: 19085.7988 - val_mae: 19085.7988
Epoch 39/100
707/707 [==============================] - 2s 3ms/step - loss: 18833.5195 - mae: 18833.5195 - val_loss: 19021.2559 - val_mae: 19021.2559
Epoch 40/100
707/707 [==============================] - 3s 4ms/step - loss: 18775.4590 - mae: 18775.4590 - val_loss: 18955.7266 - val_mae: 18955.7266
Epoch 41/100
707/707 [==============================] - 4s 6ms/step - loss: 18719.3438 - mae: 18719.3438 - val_loss: 18906.6016 - val_mae: 18906.6016
Epoch 42/100
707/707 [==============================] - 3s 4ms/step - loss: 18657.8301 - mae: 18657.8301 - val_loss: 18857.7148 - val_mae: 18857.7148
Epoch 43/100
707/707 [==============================] - 3s 4ms/step - loss: 18606.5312 - mae: 18606.5312 - val_loss: 18788.8555 - val_mae: 18788.8555
Epoch 44/100
707/707 [==============================] - 3s 4ms/step - loss: 18551.6582 - mae: 18551.6582 - val_loss: 18744.8066 - val_mae: 18744.8066
Epoch 45/100
707/707 [==============================] - 3s 4ms/step - loss: 18498.1445 - mae: 18498.1445 - val_loss: 18711.9004 - val_mae: 18711.9004
Epoch 46/100
707/707 [==============================] - 3s 5ms/step - loss: 18453.5820 - mae: 18453.5820 - val_loss: 18647.8125 - val_mae: 18647.8125
Epoch 47/100
707/707 [==============================] - 3s 4ms/step - loss: 18399.8320 - mae: 18399.8320 - val_loss: 18642.9023 - val_mae: 18642.9023
Epoch 48/100
707/707 [==============================] - 3s 5ms/step - loss: 18356.3379 - mae: 18356.3379 - val_loss: 18556.5957 - val_mae: 18556.5957
Epoch 49/100
707/707 [==============================] - 3s 4ms/step - loss: 18313.2598 - mae: 18313.2598 - val_loss: 18508.0312 - val_mae: 18508.0312
Epoch 50/100
707/707 [==============================] - 3s 4ms/step - loss: 18273.4648 - mae: 18273.4648 - val_loss: 18491.3125 - val_mae: 18491.3125
Epoch 51/100
707/707 [==============================] - 2s 3ms/step - loss: 18232.1289 - mae: 18232.1289 - val_loss: 18458.2578 - val_mae: 18458.2578
Epoch 52/100
707/707 [==============================] - 2s 3ms/step - loss: 18192.4199 - mae: 18192.4199 - val_loss: 18404.0215 - val_mae: 18404.0215
Epoch 53/100
707/707 [==============================] - 2s 3ms/step - loss: 18152.2715 - mae: 18152.2715 - val_loss: 18361.5137 - val_mae: 18361.5137
Epoch 54/100
707/707 [==============================] - 2s 3ms/step - loss: 18114.1055 - mae: 18114.1055 - val_loss: 18323.6816 - val_mae: 18323.6816
Epoch 55/100
707/707 [==============================] - 2s 3ms/step - loss: 18081.0547 - mae: 18081.0547 - val_loss: 18297.0898 - val_mae: 18297.0898
Epoch 56/100
707/707 [==============================] - 2s 3ms/step - loss: 18046.8691 - mae: 18046.8691 - val_loss: 18264.2188 - val_mae: 18264.2188
Epoch 57/100
707/707 [==============================] - 2s 3ms/step - loss: 18009.9629 - mae: 18009.9629 - val_loss: 18225.0078 - val_mae: 18225.0078
Epoch 58/100
707/707 [==============================] - 2s 3ms/step - loss: 17977.3906 - mae: 17977.3906 - val_loss: 18203.2891 - val_mae: 18203.2891
Epoch 59/100
707/707 [==============================] - 2s 3ms/step - loss: 17944.2363 - mae: 17944.2363 - val_loss: 18139.4199 - val_mae: 18139.4199
Epoch 60/100
707/707 [==============================] - 2s 3ms/step - loss: 17906.5879 - mae: 17906.5879 - val_loss: 18116.4180 - val_mae: 18116.4180
Epoch 61/100
707/707 [==============================] - 2s 3ms/step - loss: 17874.6504 - mae: 17874.6504 - val_loss: 18081.2969 - val_mae: 18081.2969
Epoch 62/100
707/707 [==============================] - 2s 3ms/step - loss: 17839.8535 - mae: 17839.8535 - val_loss: 18062.9238 - val_mae: 18062.9238
Epoch 63/100
707/707 [==============================] - 2s 3ms/step - loss: 17805.1816 - mae: 17805.1816 - val_loss: 18004.5820 - val_mae: 18004.5820
Epoch 64/100
707/707 [==============================] - 2s 3ms/step - loss: 17771.7266 - mae: 17771.7266 - val_loss: 17982.6230 - val_mae: 17982.6230
Epoch 65/100
707/707 [==============================] - 2s 3ms/step - loss: 17744.9492 - mae: 17744.9492 - val_loss: 17949.9355 - val_mae: 17949.9355
Epoch 66/100
707/707 [==============================] - 2s 3ms/step - loss: 17706.5938 - mae: 17706.5938 - val_loss: 17918.9355 - val_mae: 17918.9355
Epoch 67/100
707/707 [==============================] - 2s 3ms/step - loss: 17674.9941 - mae: 17674.9941 - val_loss: 17894.5098 - val_mae: 17894.5098
Epoch 68/100
707/707 [==============================] - 3s 4ms/step - loss: 17643.8867 - mae: 17643.8867 - val_loss: 17848.6777 - val_mae: 17848.6777
Epoch 69/100
707/707 [==============================] - 2s 3ms/step - loss: 17615.1836 - mae: 17615.1836 - val_loss: 17826.4727 - val_mae: 17826.4727
Epoch 70/100
707/707 [==============================] - 2s 3ms/step - loss: 17582.9609 - mae: 17582.9609 - val_loss: 17795.4824 - val_mae: 17795.4824
Epoch 71/100
707/707 [==============================] - 2s 3ms/step - loss: 17554.3340 - mae: 17554.3340 - val_loss: 17775.6738 - val_mae: 17775.6738
Epoch 72/100
707/707 [==============================] - 2s 3ms/step - loss: 17522.9590 - mae: 17522.9590 - val_loss: 17752.0957 - val_mae: 17752.0957
Epoch 73/100
707/707 [==============================] - 3s 4ms/step - loss: 17497.1406 - mae: 17497.1406 - val_loss: 17725.4062 - val_mae: 17725.4062
Epoch 74/100
707/707 [==============================] - 2s 3ms/step - loss: 17470.0723 - mae: 17470.0723 - val_loss: 17693.0137 - val_mae: 17693.0137
Epoch 75/100
707/707 [==============================] - 2s 3ms/step - loss: 17437.3359 - mae: 17437.3359 - val_loss: 17657.7969 - val_mae: 17657.7969
Epoch 76/100
707/707 [==============================] - 2s 3ms/step - loss: 17410.8066 - mae: 17410.8066 - val_loss: 17639.0801 - val_mae: 17639.0801
Epoch 77/100
707/707 [==============================] - 2s 3ms/step - loss: 17379.7090 - mae: 17379.7090 - val_loss: 17617.8418 - val_mae: 17617.8418
Epoch 78/100
707/707 [==============================] - 2s 3ms/step - loss: 17352.9980 - mae: 17352.9980 - val_loss: 17580.4336 - val_mae: 17580.4336
Epoch 79/100
707/707 [==============================] - 2s 3ms/step - loss: 17325.5254 - mae: 17325.5254 - val_loss: 17556.1953 - val_mae: 17556.1953
Epoch 80/100
707/707 [==============================] - 2s 3ms/step - loss: 17303.6172 - mae: 17303.6172 - val_loss: 17538.0938 - val_mae: 17538.0938
Epoch 81/100
707/707 [==============================] - 2s 3ms/step - loss: 17272.9355 - mae: 17272.9355 - val_loss: 17506.3574 - val_mae: 17506.3574
Epoch 82/100
707/707 [==============================] - 2s 3ms/step - loss: 17251.2871 - mae: 17251.2871 - val_loss: 17478.2949 - val_mae: 17478.2949
Epoch 83/100
707/707 [==============================] - 2s 3ms/step - loss: 17222.7109 - mae: 17222.7109 - val_loss: 17452.3457 - val_mae: 17452.3457
Epoch 84/100
707/707 [==============================] - 2s 3ms/step - loss: 17196.9219 - mae: 17196.9219 - val_loss: 17441.2695 - val_mae: 17441.2695
Epoch 85/100
707/707 [==============================] - 2s 3ms/step - loss: 17167.2988 - mae: 17167.2988 - val_loss: 17421.3379 - val_mae: 17421.3379
Epoch 86/100
707/707 [==============================] - 3s 4ms/step - loss: 17146.4082 - mae: 17146.4082 - val_loss: 17415.1895 - val_mae: 17415.1895
Epoch 87/100
707/707 [==============================] - 2s 3ms/step - loss: 17130.5938 - mae: 17130.5938 - val_loss: 17372.7773 - val_mae: 17372.7773
Epoch 88/100
707/707 [==============================] - 3s 4ms/step - loss: 17099.8184 - mae: 17099.8184 - val_loss: 17337.2383 - val_mae: 17337.2383
Epoch 89/100
707/707 [==============================] - 2s 3ms/step - loss: 17073.0586 - mae: 17073.0586 - val_loss: 17320.0449 - val_mae: 17320.0449
Epoch 90/100
707/707 [==============================] - 2s 3ms/step - loss: 17048.5586 - mae: 17048.5586 - val_loss: 17294.1523 - val_mae: 17294.1523
Epoch 91/100
707/707 [==============================] - 2s 3ms/step - loss: 17024.9551 - mae: 17024.9551 - val_loss: 17283.9688 - val_mae: 17283.9688
Epoch 92/100
707/707 [==============================] - 2s 3ms/step - loss: 17007.4473 - mae: 17007.4473 - val_loss: 17254.4512 - val_mae: 17254.4512
Epoch 93/100
707/707 [==============================] - 2s 3ms/step - loss: 16981.5977 - mae: 16981.5977 - val_loss: 17227.4023 - val_mae: 17227.4023
Epoch 94/100
707/707 [==============================] - 3s 4ms/step - loss: 16955.6367 - mae: 16955.6367 - val_loss: 17203.8613 - val_mae: 17203.8613
Epoch 95/100
707/707 [==============================] - 2s 3ms/step - loss: 16935.7188 - mae: 16935.7188 - val_loss: 17185.8145 - val_mae: 17185.8145
Epoch 96/100
707/707 [==============================] - 2s 3ms/step - loss: 16909.1992 - mae: 16909.1992 - val_loss: 17158.3965 - val_mae: 17158.3965
Epoch 97/100
707/707 [==============================] - 2s 3ms/step - loss: 16892.6719 - mae: 16892.6719 - val_loss: 17136.6309 - val_mae: 17136.6309
Epoch 98/100
707/707 [==============================] - 2s 3ms/step - loss: 16871.5020 - mae: 16871.5020 - val_loss: 17122.5371 - val_mae: 17122.5371
Epoch 99/100
707/707 [==============================] - 2s 3ms/step - loss: 16848.6504 - mae: 16848.6504 - val_loss: 17101.8281 - val_mae: 17101.8281
Epoch 100/100
707/707 [==============================] - 2s 3ms/step - loss: 16822.7988 - mae: 16822.7988 - val_loss: 17074.4180 - val_mae: 17074.4180

In [48]:
model.save('model.h5')

c:\Users\Sandesh Chipkar\Desktop\crop_yeild_prediction_regression_ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [46]:
%load_ext tensorboard

In [47]:
%tensorboard --logdir regressionlogs/fit